language: python
python: 3.7
dist: xenial
sudo: true

cache:
  directories:
  - "$HOME/Library/Caches/Homebrew"

matrix:
  include:
  - os: osx
    language: shell
    before_install:
    - brew update -q
    - brew outdated python || brew upgrade python
  - os: linux
    language: python

install:
- "pip3 install pymupdf" # Python 3.7
- "pip install pymupdf" # Python 2.7

script:
# Python 3.7
- python3 test-geo.py
- python3 insertpdf-test.py
# Python 2.7
- python test-geo.py
- python insertpdf-test.py
