language: python
python: 3.7
dist: xenial
sudo: true

cache:
  directories:
  - "$HOME/Library/Caches/Homebrew"

matrix:
  include:
  - os: osx
    language: shell
    before_install:
    - brew update -q
    - brew outdated python || brew upgrade python

install:
- "pip3 install pymupdf" # Python 3.7
- "pip install pymupdf" # Python 2.7

script:
# Python 3.7
- python3 test-geo.py
- python3 test-insertpdf.py
- python3 test-toc.py
- python3 widgettest.py
- python3 list-fields.py widgettest.pdf
# Python 2.7
- python2 test-geo.py
- python2 test-insertpdf.py
- python2 test-toc.py
- python2 widgettest.py
- python2 list-fields.py widgettest.pdf
