language: python
python: 3.6
dist: xenial
sudo: true

cache:
  directories:
  - "$HOME/Library/Caches/Homebrew"
env:
  global:

matrix:
  include:
  - os: osx
    osx_image: xcode8.3
    language: generic

    env: PIP=pip3
    before_install:
    - brew update -q
    - brew outdated python || brew upgrade python
    before_script:

install:
- "$PIP install pymupdf"

script:
- python3 test-geo.py

